# PayTR Credentials
PAYTR_MERCHANT_ID=
PAYTR_MERCHANT_KEY=
PAYTR_MERCHANT_SALT=

# Application URL (required for callbacks)
APP_URL=https://ais-dev-qh234bpmc2juu3dnjz7h2t-437035959563.europe-west2.run.app
